<div class="list-group">
  {{#each}}
    {{#link-to 'workcamp' this class="list-group-item"}}
    <h4 class="list-group-item-heading">
       {{ country.name }} -
       {{code}} - {{name}}
    </h4>
    <p class="list-group-item-text">
      {{ long-date begin}} - {{ long-date end}}
      <b>{{ free-places this }}</b>
    </p>
    {{/link-to}}
  {{/each}}
</div>
