<div class="form-group">
  <label class="col-lg-1 control-label">Between</label>
  <div class="col-lg-2">{{input value=from type="date" class="form-control"}}</div>
  <div class="col-lg-2">{{input value=to type="date" class="form-control"}}</div>

  <label class="col-lg-1 control-label">Duration</label>
  <div class="col-lg-1">{{input value=min_duration type="number" class="form-control" placeholder='Min'}}</div>
  <div class="col-lg-1">{{input value=max_duration type="number" class="form-control" placeholder='Max'}}</div>

  <label class="col-lg-1 control-label">Age</label>
  <div class="col-lg-1">{{input value=min_age type="number" class="form-control"}}</div>
  <div class="col-lg-1">{{input value=max_age type="number" class="form-control"}}</div>
</div>

<div class="form-group">
  <label class="col-lg-1 control-label">Free</label>
  <div class="col-lg-1">{{input value=free type="number" class="form-control" placeholder='Any'}}</div>
  <div class="col-lg-1">{{input value=free_females type="number" class="form-control" placeholder='Females'}}</div>
  <div class="col-lg-1">{{input value=free_males type="number" class="form-control" placeholder='Males'}}</div>
</div>

<div class="form-group">
  <label class="col-lg-1 control-label">Having</label>
  <div class="col-lg-2">
    {{view Ember.Select
    contentBinding='controllers.workcamp_intentions.content'
    optionValuePath="content.id"
    optionLabelPath="content.code"
    class="form-control"
    }}
  </div>

  <div class="col-lg-2">
    {{view Ember.Select
    contentBinding='controllers.tags.content'
    optionValuePath="content.id"
    optionLabelPath="content.name"
    class="form-control"
    prompt='Tags'
    }}
  </div>

  <div class="col-lg-2">
    {{view Ember.Select
    contentBinding='controllers.countries.content'
    optionValuePath="content.id"
    optionLabelPath="content.name"
    class="form-control"
    prompt='Countries'
    }}
  </div>

  <div class="col-lg-2">
    {{view Ember.Select
    contentBinding='controllers.organizations.content'
    optionValuePath="content.id"
    optionLabelPath="content.name"
    class="form-control"
    prompt='Organization'
    }}
  </div>

  </div>
</div>

<div class="form-group">
  <div class="col-lg-offset-1 col-lg-11">
    {{#each filter.tags}}
      <span class="label label-default">{{name}} X</span>
    {{/each}}
  </div>
</div>
