<table class="table table-condensed table-hover col-lg-12 sidepanel">
  <tbody>
    {{#each itemController='starred_workcamp'}}
    <tr>
      <td>
        {{#if is_assigned}}
          <span title="This workcamp is already in the form.">{{fa 'check'}}</span>
        {{else}}
          <a href="" {{action 'add_wc_to_form' this this bubbles=false}} title="Add workcamp to the form." class='btn btn-default btn-sm'>
            {{fa 'plus'}}
          </a>
        {{/if}}
      </td>
      <td><i {{ bind-attr class=":fa starred:fa-star:fa-star-o" }} {{ action 'toggle_starred' }}></i></td>
      <td>{{code}}</td>
      <td>
        {{#link-to 'workcamp' this}}{{name}}{{/link-to}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
