<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <title>VEF</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
<style>
body
{
  font-family:'Times New Roman CE', 'Times New CE', 'Times CE', 'Times New Roman', times, serif;
  font-size: 12px;
}

legend {
  font-size: 12px;
}

fieldset {
 padding: 3px;
 margin: 4px;
}

fieldset p {
 margin: 3px;
}

table.whole {
 width: 100%;
}

td.half {
 width: 50%;
}

table.workcamps {
 border-collapse: collapse;
  width: 100%;
  border: 1px solid gray;
}

table.workcamps th. {

}

table.workcamps th,
table.workcamps td
{
 border: 1px solid gray;
}

table.workcamps th
{
 width: 30%;
}

table.workcamps th.small
{
 width: 10%;
}


th {
 font-size: 12px;
 text-align: left;
}

td {
 font-size: 12px;
 text-align: left;
}

h1 {
 font-size: 13px;
}

</style>
</head>
<body>
  <center>
    <h1>INEX-SDA VOLUNTEER EXCHANGE FORM(VEF)</h1>
  </center>

  <%=
    two_columns( fieldset('1.PERSONAL INFORMATION', [:firstname, :lastname, :gender, :phone, :email  ]),
                 fieldset('2.DETAILS', [:birthdate, :birthplace, :nationality, :occupation, :dummy  ]))
  %>
  <%=
    two_columns( fieldset('Address', [:street, :city, :zipcode  ]),
                 fieldset('Contact Address', [:contact_street, :contact_city, :contact_zipcode  ]))
  %>
  <%=
    two_columns( fieldset('3.EMERGENCY CONTACT', [ :emergency_name, :emergency_day, :emergency_night  ]),
                 fieldset('4.LANGUAGES', [ :speak_well, :speak_some, :dummy  ]))
  %>

  <%= long_text('5.REMARKS ON HEALTH / SPECIAL NEEDS / DIET', @form.volunteer.special_needs || 'None') %>
  <%= long_text('6.PAST VOLUNTEER EXPERIENCE / GENERAL SKILLS', @form.volunteer.past_experience || 'None') %>

  <fieldset>
    <legend><strong>7.PROJECT CHOICES ACCORDING TO PREFERENCE</strong></legend>
    <table class="workcamps">
      <tr>
        <th class="small">Order</th>
        <th>Code</th>
        <th>Name</th>
        <th>Dates</th>
      </tr>
      <% @form.workcamps.each_with_index do |wc,i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= wc.code %></td>
        <td><%= wc.name %></td>
        <td><%= wc.begin %> - <%= wc.end %></td>
      </tr>
      <% end %>
    </table>
  </fieldset>


  <%= long_text('8.MOTIVATION', @form.motivation || 'None') %>
  <%= long_text('9.GENERAL REMARKS', @form.general_remarks || 'None') %>
  <%= long_text('10.AGREEMENT', ' I accept all conditions of participation in the programme, presented by INEX–SDA
          as the sending organization, and I fully understand and accept my responsibility to
          obtain health and liability insurance for the duration of the voluntary
          service as well as the travel period.')
  %>


<center>
  Sending organization: INEX Sdružení dobrovolných aktivit; Varsavska 30, 120 00 Praha 2, Czech Republic;<br/>
  Tel: +420 222 362 713/ +420 604 269 685; Fax: +420 222 362 719<br/>
  www.inexsda.cz
</center>

</body>
</html>
