<label {{bind-attr for="view.label" }}
       {{bind-attr class="view.labelClass :control-label" }}>
  {{ capitalize view.label }}
</label>

<div  {{bind-attr class="view.inputClass" }}">
  {{input value=view.model type=text id=view.label  class="form-control"}}
</div>
