<ul id="admin_stripe">
        <li class="left" >
          <%= icon('date', nil, true) %>
          <%= I18n.localize( Date.today, :format => :long) %>
          |
          <%= link_to icon(:email_templates, t('txt.howto_templates')), email_templates_howto_path %>
          |
          <%= link_to icon(:birthday, t('txt.who_has_birthday')), '/outgoing/volunteers?birthdays=1' %>
        </li>
        <li>
          <%= link_to icon(:logout, "#{t('txt.menu.logout')} uživatele '#{@current_user.to_label}'"), logout_url %>
        </li>
</ul>
