<tr style="display:none" id="<%= js_id %>">
        <td colspan="11" >
                <table class="workcamp_detail">
                        <%= detail_field 'country', "#{flag(detail.country)} - #{detail.country.name}" %>
                        <%= detail_field 'wc_code', detail.code %>
                        <%= detail_field 'wc_name', detail.name %>
                        <%= detail_field 'wc_intentions', render_intentions(detail.intentions, true) %>
                        <%= detail_field 'wc_free_places', detail.free_places %>
                        <%= detail_field 'wc_free_places_for_females', detail.free_places_for_females %>
                        <%= detail_field 'wc_free_places_for_males', detail.free_places_for_males %>
                        <%= detail_field 'wc_capacity', detail.capacity %>
                        <%= detail_field 'wc_minimal_age', detail.minimal_age %>
                        <%= detail_field 'wc_maximal_age', detail.maximal_age %>
                        <%= detail_field 'term', "#{detail.from} - #{detail.to}"%>
                        <%= detail_field_if 'wc_airport', detail.airport %>
                        <%= detail_field_if 'wc_airport', detail.region %>
                        <%= detail_field_if 'wc_train', detail.train %>
                        <%= detail_field 'wc_extra_fee', "#{detail.extra_fee} #{detail.extra_fee_currency}" if detail.extra_fee %>

                        <%= detail_field('wc_area', long_text(detail.area)) if detail.area %>
                        <%= detail_field('wc_accomodation', long_text(detail.accomodation)) if detail.accomodation %>
                        <%= detail_field('wc_workdesc', long_text(detail.workdesc)) if detail.workdesc %>
                        <%= detail_field('wc_notes', long_text(detail.notes)) if detail.notes %>
                        <%= detail_field 'wc_description', long_text(detail.description) %>

                        <tr>
                                <td colspan="2">
                                        <center>
                                                <ul>
                                                  <li><%= add_to_cart_link(detail) %></li>
                                                  <li><%= remove_from_cart_link(detail) %></li>
                                                  <li><%= detail_link( bt('wc_hide_detail'), 'hide_detail', detail, js_id, prefix) %></li>
                                                </ul>
                                        </center>
                                </td>
                        </tr>
                </table>
        </td>
</tr>