- form_for @search do |f|

  %p
    %label= t('.keyword')
    = f.text_field :begin_greater_than_or_equal_to

  %fieldset
    %legend= t('.advanced')
    %p
      %label= t('.begin')
      = f.text_field :begin_greater_than_or_equal_to

    %p
      %label= t('.end')
      = f.text_field :end_less_than_or_equal_to

    %p
      %label= t('.intention')
      = '...'

  %p
    = f.submit t('.search')


- if @workcamps
  - unless @workcamps.empty?
    = render :partial => 'public/workcamps/workcamps', :collection => @workcamps
    
- else
  %p No results



