<tr>
  <td><label><%= bt('country') %></label></td>
  <td>
    <%= countries_add_script %>
    <span id="notice" style="display:none" ></span>

    <ul id="countries_list">
      <%= render :partial => 'workcamps/country', :collection => @cart.countries %>
    </ul>

    <% #  bt('all_countries') -%>

    <%= link_to_remote( bt('wc_clear_countries'), :url => { :action => 'clear_countries', :controller => 'workcamps/cart_handling' } ) %>
    |
    <%= link_to_function bt('wc_show_map'), "show_country_chooser('map_container')" %>
    |
    <%= link_to_function bt('wc_show_country_select'), "show_country_chooser('country_select')" %>

    <%= simple_wrap '', render(:partial => 'workcamps/search/map_container') +
                        render(:partial => 'workcamps/search/country_select')
    %>
  </td>
</tr>

