<%= render :partial => 'workcamps/cart', :object => @cart %>

<% unless @workcamps.empty? %>
        <h3><%=bt 'wc_list_title'%></h3>
        <%= render :partial => 'workcamps/workcamps', :object => @workcamps %>
<% else%>
        <%= bt 'wc_not_found' %>
<% end %>

<center>
        <%= link_to bt('wc_back'), :back %>
</center>