{{#if state.actions.firstObject }}
  <div class="btn-group apply-form-action-dropdown">
    {{#if current_message}}
      {{#link-to 'message' current_message class='btn btn-default btn-sm first-action'}}
        Message
      {{/link-to}}
    {{else}}
      <button {{action 'apply_form_action' state.actions.firstObject this bubbles=false}} type="button" class="btn btn-default btn-sm first-action">
        {{capitalize state.actions.firstObject}}
      </button>
    {{/if}}

    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      {{#each action_name in state.actions}}
        <li><a {{action 'apply_form_action' action_name this bubbles=false}} href="#">
          {{ apply-form-action-icon action_name }} {{capitalize action_name}}
        </a></li>
      {{/each}}
      <li>
        {{#link-to 'new_message' this.id 'email'}}
        {{fa 'envelope'}} Email
        {{/link-to}}
      </li>

    </ul>
  </div>
{{/if}}
