{{#if state.actions.firstObject }}
  <div class="btn-group">
    <button {{action state.actions.firstObject bubbles=false}} type="button" class="btn btn-default btn-sm">
      {{capitalize state.actions.firstObject}}
    </button>
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu" role="menu">
      {{#each state.actions}}
        <li><a {{action this bubbles=false}} href="#"> {{ apply-form-action-icon this }} {{capitalize this}}</a></li>
      {{/each}}
    </ul>
  </div>
{{/if}}
