{{#if edited_or_new}}
<tr>
  <td>
{{view Ember.Select
       value=kind
       content=kinds
       optionValuePath="content.id"
       optionLabelPath="content.label"}}
  </td>
  <td>{{input value=address type=email action="save" placeholder="email address"}}</td>
  <td>{{input value=name action="save" placeholder="Name"}}</td>
  <td>{{input value=notes action="save"}}</td>
  <td>
   <div class="form-group">
   {{#if isNew}}
    <button type="button" class="btn btn-danger" {{ action 'remove' this }}>
      {{fa 'trash-o'}}
    </button>
    {{else}}
    <button type="button" class="btn btn-danger" {{ action 'rollback' }}>
      {{fa 'times'}}
    </button>
    {{/if}}

    <button type="submit" class="btn btn-success"  {{ action 'save' }}>
      {{fa 'check'}}
    </button>
   </div>
  </td>
</tr>
{{#unless isValid}}
<tr>
  <td colspan='5'>
    <span class='text-danger'>{{ join-errors errors }}</span>
  </td>
</tr>
{{/unless}}
{{else}}
<tr {{action 'edit' }}>
  <td>{{kind}}</td>
  <td>{{address}}</td>
  <td>{{name}}</td>
  <td>{{notes}}</td>
  <td>
    <button type="button" class="btn btn-danger" {{ action 'remove' this bubbles=false}}>
      <i class="fa fa-trash-o"></i>
    </button>
  </td>
</tr>
{{/if}}
