<span title='Free places'>{{free_places}}</span><sub title='Asked for places'>{{asked_for_places}}</sub>

<b>♀</b><span title='Free places for females'>{{free_places_for_females}}</span><sub title='Asked for places - females'>{{asked_for_places_females}}</sub>

<b>♂</b><span title='Free places for males'>{{free_places_for_males}}</span><sub title='Asked for places - males'>{{asked_for_places_males}}</sub>
