<nav {{ bind-attr class=":navbar :navbar-default :navbar-fixed-top filter_is_visible:nav-with-filter" }} role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}
        Volant
      {{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
       <form  class="navbar-form  navbar-left col-lg-1" >
          <select class="form-control">
            <option>All types</option>
            <option>Workcamps</option>
            <option>Applications</option>
          </select>
       </form>

       <form  class="navbar-form  navbar-left col-lg-1" >
        {{view Ember.Select
               content=years
               value=current_year
               class="form-control"
        }}
       </form>

      <form  {{ action 'search_workcamp' on=submit }} class="navbar-form navbar-left col-lg-5" role="search">
        <div class="form-group">
          {{ input value=query class="form-control" placeholder="name, code,country..." }}
        </div>

        <div class="btn-group">
          <button type="submit" class="btn btn-primary">Search</button>
          <button type="button" class="btn btn-primary" {{action 'toggle_filter'}}>
            <span class="caret"></span>
            <span class="sr-only">Filter</span>
          </button>
        </div>

         {{#if current_item }}
           {{#if current_item.isDirty }}
            <div class="form-group">
             <button type="button" class="btn btn-success">
               <i class="fa fa-check"></i>
             </button>
             <button type="button" class="btn btn-danger">
               <i class="fa fa-times"></i>
             </button>
            </div>
           {{/if}}
         {{/if}}
        </form>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            Jakub Hozak <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Users</a></li>
            <li><a href="#">Countries</a></li>
            <li><a href="#">Organizations</a></li>
            <li class="divider"></li>
            <li><a href="#">Logout</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

{{#if filter_is_visible}}
  <form class="form-horizontal" role="form" {{action 'search_workcamp' on="submit"}}>
    <div class="form-group">
      <label class="col-lg-1 control-label">Between</label>
      <div class="col-lg-2">{{input value=filter.from type="date" class="form-control"}}</div>
      <div class="col-lg-2">{{input value=filter.to type="date" class="form-control"}}</div>

      <label class="col-lg-1 control-label">Duration</label>
      <div class="col-lg-1">{{input value=filter.duration_from type="number" class="form-control"}}</div>
      <div class="col-lg-1">{{input value=filter.duration_to type="number" class="form-control"}}</div>

      <label class="col-lg-1 control-label">Age</label>
      <div class="col-lg-1">{{input value=filter.age_from type="number" class="form-control"}}</div>
      <div class="col-lg-1">{{input value=filter.age_to type="number" class="form-control"}}</div>
    </div>

    <div class="form-group">
      <label class="col-lg-1 control-label">Intentions</label>
      <div class="col-lg-2">
        {{view Ember.Select
               content=intentions
               class="form-control"
        }}
      </div>
      <div class="col-lg-2">
        <span class="label label-default">AGRI X</span>
        <span class="label label-default">ENVI X</span>
        <span class="label label-default">KIDS X</span>
      </div>

      <label class="col-lg-1 control-label">Labels</label>
      <div class="col-lg-2">
        {{view Ember.Select
               content=tags
               class="form-control"
        }}
      </div>
      <div class="col-lg-3">
        <span class="label label-default" style="color:#FFFFFF; background-color:#CC3333;">extra fee X</span>
        <span class="label label-default" style="color:#FFFFFF; background-color:#FF9900;">wheelchair X</span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-lg-1 control-label">Countries</label>

      <div class="col-lg-2">
        {{view Ember.Select
               content=countries
               class="form-control"
        }}
      </div>
      <div class="col-lg-2">
        <span class="label label-default">Great Britain X</span>
        <span class="label label-default">France X</span>
      </div>

      <label class="col-lg-1 control-label">Organizations</label>
      <div class="col-lg-2">
        {{view Ember.Select
               content=organizations
               class="form-control"
        }}
      </div>
      <div class="col-lg-3">
        <span class="label label-default">INEX-SDA X</span>
        <span class="label label-default">Tamjdem CON X</span>
        <span class="label label-default">SCI Germany X</span>
      </div>

    </div>


  </form>
{{/if}}
</nav>
