<nav {{ bind-attr class=":navbar :navbar-default :navbar-fixed-top filter_is_visible:nav-with-filter" }} role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {{#link-to 'index' class="navbar-brand"}}
        Volant
      {{/link-to}}
        <form  class="navbar-form  navbar-left col-lg-1" >
          {{view Ember.Select
          content=modes
          value=mode
          class="form-control"
          }}
          {{view Ember.Select
          content=years
          value=year
          class="form-control"
          }}
        </form>
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#link-li}}{{#link-to 'incoming_workcamps'}}Incoming{{/link-to}}{{/link-li}}
        {{#link-li}}{{#link-to 'ltv_workcamps'}}LTV{{/link-to}}{{/link-li}}

        {{#link-li}}{{#link-to 'workcamps'}}Workcamps{{/link-to}}{{/link-li}}
        {{#link-li}}{{#link-to 'apply_forms'}}Applications{{/link-to}}{{/link-li}}

       {{#menu-dropdown title="More"}}
          {{#link-li}}{{#link-to 'imported_workcamps'}}Imported Workcamps{{/link-to}}{{/link-li}}
          <li class="divider"></li>
          {{#link-li}}{{#link-to 'volunteers'}}Volunteers{{/link-to}}{{/link-li}}
          {{#link-li}}{{#link-to 'payments'}}Payments{{/link-to}}{{/link-li}}
          <li class="divider"></li>
          {{#link-li}}{{#link-to 'organizations' }}Organizations{{/link-to}}{{/link-li}}
          <li><a href="#">Partners</a></li>
       {{/menu-dropdown}}
      </ul>

       {{ outlet 'item_controls'}}

       {{#if flash}}
         {{ view Volant.SmallFlashView flashBinding="flash" }}
       {{/if}}

       <ul class='nav navbar-nav navbar-right right-icons'>
         {{#link-li}}
           {{#link-to 'messages'}}
           {{fa 'envelope'}}
             {{badge-count current_user.unsent_messages_count}}
           </a>
           {{/link-to}}
         {{/link-li}}

         {{#menu-dropdown icon="cog" }}
           {{#link-li}}{{#link-to 'users'}}Users{{/link-to}}{{/link-li}}
           {{#link-li}}{{#link-to 'email_templates'}}Email Templates{{/link-to}}{{/link-li}}
           {{#link-li}}{{#link-to 'countries'}}Countries{{/link-to}}{{/link-li}}
           {{#link-li}}{{#link-to 'workcamp_intentions'}}Workcamp Intentions{{/link-to}}{{/link-li}}
           {{#link-li}}{{#link-to 'tags'}}Tags{{/link-to}}{{/link-li}}
         {{/menu-dropdown}}

         {{#menu-dropdown title=current_user.first_name }}
            <li class="divider"></li>
            <li><a href="/accounts/sign_out">Logout</a></li>
         {{/menu-dropdown}}
       </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
