<nav {{ bind-attr class=":navbar :navbar-default :navbar-fixed-top filter_is_visible:nav-with-filter" }} role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to 'index' class="navbar-brand"}}
        Volant
      {{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#link-li}}{{#link-to 'workcamps'}}Projects{{/link-to}}{{/link-li}}
        {{#link-li}}{{#link-to 'apply_forms'}}Applications{{/link-to}}{{/link-li}}

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">More <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Volunteers</a></li>
            {{#link-li}}{{#link-to 'payments'}}Payments{{/link-to}}{{/link-li}}
            <li class="divider"></li>
            {{#link-li}}
              {{#link-to 'organizations' }}
              Organizations
              {{/link-to}}
            {{/link-li}}
            <li><a href="#">Partners</a></li>
          </ul>
        </li>
      </ul>
      </ul>
        <form  class="navbar-form  navbar-left col-lg-1" >
          {{view Ember.Select
          content=years
          value=year
          class="form-control"
          }}
        </form>

       {{ outlet 'item_controls'}}

       {{#if flash}}
         {{ view Volant.SmallFlashView flashBinding="flash" }}
       {{/if}}

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            {{ current_user.name }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            {{#link-li}}{{#link-to 'users'}}Users{{/link-to}}{{/link-li}}
            <li><a href="#">Countries</a></li>
            <li><a href="#">Organizations</a></li>
            <li class="divider"></li>
            <li><a href="/accounts/sign_out">Logout</a></li>
          </ul>
        </li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
