<nav {{ bind-attr class=":navbar :navbar-default :navbar-fixed-top filter_is_visible:nav-with-filter" }} role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      {{#link-to 'index' class="navbar-brand"}}
        Volant
      {{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <form  class="navbar-form  navbar-left col-md-1" >
        {{view 'mode_select' valueBinding='mode' }}
        {{view Ember.Select
          content=years
          value=year
          class="form-control"
        }}
      </form>

      <ul class="nav navbar-nav">
       {{partial modeMenuTemplate}}

       {{#menu-dropdown title="Contacts"}}
          {{#link-li}}{{#link-to 'volunteers'}}Volunteers{{/link-to}}{{/link-li}}
          {{#link-li}}{{#link-to 'organizations' }}Organizations{{/link-to}}{{/link-li}}
          {{#link-li}}{{#link-to 'networks' }}Networks{{/link-to}}{{/link-li}}
       {{/menu-dropdown}}
      </ul>

       <ul class='nav navbar-nav navbar-right right-icons'>
         {{#link-li}}
           {{#link-to 'my_messages'}}
           {{fa 'send'}}
             {{badge-count current_user.unsent_messages_count}}
           </a>
           {{/link-to}}
         {{/link-li}}

         {{#menu-dropdown icon="cog" }}
           {{#link-li}}{{#link-to 'users'}}Users{{/link-to}}{{/link-li}}
           {{#link-li}}{{#link-to 'email_templates'}}Email Templates{{/link-to}}{{/link-li}}
           {{#link-li}}{{#link-to 'countries'}}Countries{{/link-to}}{{/link-li}}
           {{#link-li}}{{#link-to 'workcamp_intentions'}}Workcamp Intentions{{/link-to}}{{/link-li}}
           {{#link-li}}{{#link-to 'tags'}}Tags{{/link-to}}{{/link-li}}
           {{#link-li}}{{#link-to 'account'}}Account Settings{{/link-to}}{{/link-li}}               
         {{/menu-dropdown}}

         {{#menu-dropdown title=current_user.first_name }}
            <li class="divider"></li>
            <li><a href="/accounts/sign_out">Logout</a></li>
         {{/menu-dropdown}}
       </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->

  {{view Volant.SmallFlashView flashBinding='flash'}}
</nav>
