<fieldset>
  <legend></legend>
  <div class='row'>
    <div class="form-group col-md-2">
      <label class=" control-label">Gender</label>
      {{view Volant.GenderSelectView value=gender class="form-control" }}
    </div>

    <div class="form-group col-md-3">
      {{#model-field errors=errors.firstname}}
        <label class=" control-label">First Name</label>
        {{input value=firstname class="form-control"}}
      {{/model-field}}
    </div>

    <div class="form-group col-md-3">
      {{#model-field errors=errors.lastname}}
        <label class=" control-label">Last Name</label>
        {{input value=lastname class="form-control"}}
      {{/model-field}}
    </div>

    <div class="form-group col-md-2">
      <label class=" control-label">Nationality</label>
      {{input value=nationality class="form-control"}}
    </div>

    <div class="form-group col-md-2">
      <label class=" control-label">Occupation</label>
      {{input value=occupation class="form-control"}}
    </div>
  </div>

  <div class='row'>
    <div class="form-group col-md-2">
      {{#model-field errors=errors.birthnumber}}
        <label title='birth-number or passport number' class=" control-label">Birthnumber</label>
        {{input value=birthnumber class="form-control"}}
      {{/model-field}}      
    </div>

    <div class="form-group col-md-3">
      <label class=" control-label">Date of birth</label>
      {{view Volant.DateView dateBinding='birthdate' }}
    </div>

    <div class="form-group col-md-3">
      <label class=" control-label">Place of Birth</label>
      {{input value=birthplace class="form-control"}}
    </div>

    <div class="form-group col-md-4">
      <label class="control-label">Tags</label>
      <div>
        {{partial 'inputs/tag_picker'}}
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="form-group col-md-12">
      {{view 'labels-list' contentBinding='tags'}}
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Passport &amp; Origin</legend>
  <div class='row'>
      <div class="form-group col-md-4">
    {{#model-field errors=errors.country}}
        <label  class=" control-label">Country</label>
        {{partial 'inputs/country'}}
    {{/model-field}}
      </div>

      <div class="col-md-8 form-group">
        {{#model-field errors=errors.organization}}
          <label  class=" control-label">
            {{#if organization }}
              {{#link-to 'organization' organization}}
                Organization
              {{/link-to}}
            {{else}}
              Organization
            {{/if}}

          </label>
          {{partial 'inputs/organization'}}
        {{/model-field}}
      </div>
  </div>


  <div class='row'>
    <div class="form-group col-md-4">
      {{#model-field errors=errors.passportNumber}}
        <label  class=" control-label">Passport Number</label>
        {{input value=passportNumber class="form-control"}}
      {{/model-field}}
    </div>      
      
    <div class="form-group col-md-4">
      {{#model-field errors=errors.passportExpiresAt}}
        <label class=" control-label">Date of Expiry</label>
        {{input value=passportExpiresAt class="form-control" type='date'}}
      {{/model-field}}      
    </div>

    <div class="form-group col-md-4">
      {{#model-field errors=errors.passportIssuedAt}}
        <label class=" control-label">Date of Issue</label>
        {{input value=passportIssuedAt type='date' class="form-control"}}
      {{/model-field}}      
    </div>      
</fieldset>

<fieldset>
  <legend>Contact</legend>

  <div class='row'>
    <div class="form-group col-md-4">
      {{#model-field errors=errors.email}}
        <label class=" control-label">Email</label>
        {{input value=email class="form-control" type='email'}}
      {{/model-field}}
    </div>

    <div class="form-group col-md-4">
      <label class=" control-label">Phone</label>
      {{input value=phone type="phone" class="form-control"}}
    </div>

    <div class="form-group col-md-4">
      <label class=" control-label">Fax</label>
      {{input value=fax type="phone" class="form-control"}}
    </div>
  </div>

  <div class='row'>
    <div class="form-group col-md-4">
      {{#model-field errors=errors.street}}
        <label class=" control-label">Street</label>
        {{input value=street class="form-control" type='text'}}
      {{/model-field}}
    </div>

    <div class="form-group col-md-4">
      <label class=" control-label">City</label>
      {{input value=city type="text" class="form-control"}}
    </div>

    <div class="form-group col-md-4">
      <label class=" control-label">Zipcode</label>
      {{input value=zipcode type="text" class="form-control"}}
    </div>
  </div>

  <div class='row'>
    <div class="form-group col-md-4">
      {{#model-field errors=errors.street}}
        <label class=" control-label">Contact Street</label>
        {{input value=contact_street class="form-control" type='text' placeholder=street}}
      {{/model-field}}
    </div>

    <div class="form-group col-md-4">
      <label class=" control-label">Contact City</label>
      {{input value=contact_city type="text" class="form-control" placeholder=city}}
    </div>

    <div class="form-group col-md-4">
      <label class=" control-label">Contact Zipcode</label>
      {{input value=contact_zipcode type="text" class="form-control" placeholder=zipcode}}
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Emergency Contact</legend>

  <div class='row'>
    <div class="form-group col-md-4">
      <label class=" control-label">Name</label>
      {{input value=emergency_name class="form-control"}}
    </div>

    <div class="form-group col-md-4">
      <label class=" control-label">Phone</label>
      {{input value=emergency_day class="form-control"}}
    </div>

    <div class="form-group col-md-4">
      <label class=" control-label">Email</label>
      {{input value=emergency_email class="form-control"}}
    </div>
  </div>
</fieldset>

<fieldset>
  <legend>Details</legend>
  <div class='row'>
    <div class="form-group col-md-6">
      <label class=" control-label">Speak well</label>
      {{input value=speak_well class="form-control"}}
    </div>

    <div class="form-group col-md-6">
      <label class=" control-label">Speak some</label>
      {{input value=speak_some class="form-control"}}
    </div>

    <div class="form-group col-md-12">
      <label class=" control-label">Special needs</label>
      {{input value=special_needs class="form-control"}}
    </div>

    <div class="form-group col-md-12">
      <label class=" control-label">Past experience</label>
      {{textarea value=past_experience class="form-control" rows="3"}}
    </div>

    <div class="form-group col-md-12">
      <label class=" control-label">Comments</label>
      {{textarea value=comments class="form-control" rows='2'}}
    </div>
  </div>
</fieldset>
