<div class="row">
  <div class="col-lg-8">
    <h1>
      {{#link-to 'apply_forms'}}&lt;{{/link-to}}

      <i {{ bind-attr class=":fa starred:fa-star:fa-star-o" }} {{ action 'toggle_starred' }}></i>
      {{volunteer.firstname}}
      {{volunteer.lastname}}
      ({{volunteer.age}})
      {{gender volunteer}}

      <span class='pull-right'>
        {{capitalize state}}
        {{apply-form-state-icon state}}
        </span>
    </h1>

    <div class="container-fluid">
    <form class="form" role="form" {{action 'save' on="submit"}}>
      <fieldset>
        <legend>Basics</legend>

        <div class="form-group col-lg-2">
          <label class=" control-label">Gender</label>
            {{view Ember.Select content=genders value=volunteer.gender class="form-control"
              optionValuePath='content.code' optionLabelPath='content.name' }}
        </div>

        <div class="form-group col-lg-3">
          <label class=" control-label">Name</label>
          {{input value=volunteer.firstname class="form-control"}}
        </div>

        <div class="form-group col-lg-3">
          <label class=" control-label">Surname</label>
          {{input value=volunteer.lastname class="form-control"}}
        </div>

        <div class="form-group col-lg-offset-2 col-lg-2">
          <label class=" control-label">Nationality</label>
          {{input value=volunteer.nationality class="form-control"}}
        </div>

        <div class="form-group col-lg-2">
          <label class=" control-label">Birth-number</label>
          {{input value=volunteer.birthnumber class="form-control"}}
        </div>

        <div class="form-group col-lg-3">
          <label class=" control-label">Date of birth</label>
          {{view Volant.DateView dateBinding='volunteer.birthdate' }}
        </div>

        <div class="form-group col-lg-3">
          <label class=" control-label">Place of Birth</label>
          {{input value=volunteer.birthplace class="form-control"}}
        </div>

        <div class="form-group col-lg-offset-2 col-lg-2">
          <label class=" control-label">Occupation</label>
          {{input value=volunteer.occupation class="form-control"}}
        </div>
      </fieldset>

      <fieldset>
        <legend>Contact</legend>

        <div class="form-group col-lg-4">
          <label class=" control-label">Email</label>
          {{input value=volunteer.email class="form-control"}}
        </div>

        <div class="form-group col-lg-4">
          <label class=" control-label">Phone</label>
          {{input value=volunteer.phone type="phone" class="form-control"}}
        </div>

        <div class="form-group col-lg-4">
          <label class=" control-label">Fax</label>
          {{input value=volunteer.fax type="phone" class="form-control"}}
        </div>

      </fieldset>

      <fieldset>
        <legend>Emergency Contact</legend>

        <div class="form-group col-lg-4">
          <label class=" control-label">Name</label>
          {{input value=volunteer.emergency_name class="form-control"}}
        </div>

        <div class="form-group col-lg-4">
          <label class=" control-label">Day phone</label>
          {{input value=volunteer.emergency_day class="form-control"}}
        </div>

        <div class="form-group col-lg-4">
          <label class=" control-label">Night phone</label>
          {{input value=volunteer.emergency_night class="form-control"}}
        </div>
      </fieldset>

      <fieldset>
        <legend>Application Details</legend>
        <div class="form-group col-lg-12">
          <label class=" control-label">Motivation</label>
          {{textarea value=motivation class="form-control"}}
        </div>

        <div class="form-group col-lg-12">
          <label class=" control-label">General Remarks</label>
          {{textarea value=general_remarks class="form-control" rows='2'}}
        </div>
      </fieldset>

      <fieldset>
        <legend>Volunteer Details</legend>
        <div class="form-group col-lg-6">
          <label class=" control-label">Speak well</label>
          {{input value=volunteer.speak_well class="form-control"}}
        </div>

        <div class="form-group col-lg-6">
          <label class=" control-label">Speak some</label>
          {{input value=volunteer.speak_some class="form-control"}}
        </div>

        <div class="form-group col-lg-12">
          <label class=" control-label">Special needs</label>
          {{input value=volunteer.special_needs class="form-control"}}
        </div>

        <div class="form-group col-lg-12">
          <label class=" control-label">Past experience</label>
          {{textarea value=volunteer.past_experience class="form-control" rows="3"}}
        </div>

        <div class="form-group col-lg-12">
          <label class=" control-label">Comments</label>
          {{textarea value=volunteer.comments class="form-control" rows='2'}}
        </div>
      </fieldset>

      <fieldset>
        <legend>Cancellation</legend>
        <div class="form-group col-lg-3">
          <label class=" control-label">Cancelled</label>
          {{view Volant.DateView dateBinding='cancelled' }}
        </div>
      </fieldset>

      {{ partial 'save_buttons' }}
    </form>
    </div>
  </div>

  <div class="col-lg-4">
    {{ render 'workcamp_assignments' workcamp_assignments }}
  </div>
</div>