<div class="row">
  <div class="col-lg-8">
    <h1>
      <i {{ bind-attr class=":fa starred:fa-star:fa-star-o" }} {{ action 'toggle_starred' }}></i>
      {{volunteer.firstname}}
      {{volunteer.lastname}}
      {{gender volunteer}}
    </h1>

    <div class="container-fluid">
    <form class="form-horizontal" role="form" {{action 'save' on="submit"}}>
      <fieldset>
        <legend>Basics</legend>

        <div class="form-group">
          <label class="col-lg-2 control-label">Name</label>
          <div class="col-lg-3">{{input value=volunteer.firstname class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Surname</label>
          <div class="col-lg-3">{{input value=volunteer.lastname class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Gender</label>
          <div class="col-lg-3">
            {{view Ember.Select content=genders value=volunteer.gender class="form-control"
              optionValuePath='content.code' optionLabelPath='content.name' }}
          </div>
        </div>


        <div class="form-group">
          <label class="col-lg-2 control-label">Email</label>
          <div class="col-lg-3">{{input value=volunteer.email class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Phone</label>
          <div class="col-lg-3">{{input value=volunteer.phone class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Speak well</label>
          <div class="col-lg-3">{{input value=volunteer.speak_well class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Speak some</label>
          <div class="col-lg-3">{{input value=volunteer.speak_some class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Date of birth</label>
          {{view Volant.DateView classNameBindings=":col-lg-3" model=volunteer.birthdate }}
          </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Birth-number</label>
          <div class="col-lg-3">{{input value=volunteer.birthnumber class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Place of Birth</label>
          <div class="col-lg-3">{{input value=volunteer.birthplace class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Nationality</label>
          <div class="col-lg-3">{{input value=volunteer.nationality class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Occupation</label>
          <div class="col-lg-3">{{input value=volunteer.occupation class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Emergency name</label>
          <div class="col-lg-3">{{input value=volunteer.emergency_name class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Emergency_day</label>
          <div class="col-lg-3">{{input value=volunteer.emergency_day class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Emergency night</label>
          <div class="col-lg-3">{{input value=volunteer.emergency_night class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Special needs</label>
          <div class="col-lg-3">{{input value=volunteer.special_needs class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Past experience</label>
          <div class="col-lg-3">{{input value=volunteer.past_experience class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-lg-2 control-label">Comments</label>
          <div class="col-lg-3">{{input value=volunteer.comments class="form-control"}}</div>
        </div>


      </fieldset>
    </form>
    </div>
  </div>

  <div class="col-lg-4">
    <h3>Workcamps</h3>
    <table class="table table-condensed table-hover col-lg-12 sidepanel">
      <tbody>
        {{#each workcamp_assignments}}
          <tr {{action 'view_workcamp' this.workcamp}}>
            <td>{{state-icon state}}</td>
            <td>{{workcamp.code}}</td>
            <td>{{workcamp.name}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>