<h1>Volant</h1>

<form {{ action 'search_workcamp' }} class="pure-form" >
  <fieldset>
    <legend>Search workcamps</legend>
    {{ input value=query }}
      <button type="submit" class="pure-button pure-button-primary">Search</button>
  </fieldset>
</form>

<table class="pure-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th>Country</th>
      <th>Organization</th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{name}}</td>
        <td>{{code}}</td>
        <td>{{country.name}}</td>
        <td>{{organization.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{outlet}}
