<div class='row'>
<div class="col-md-7">
    <h2>
      {{partial 'star' }}
      {{partial 'apply_form/title'}}
    </h2>

    <form class="form" role="form" {{action 'save' on="submit"}}>
      {{#if cancelled}}
        <hr>
        <div class='row'>
          <div class="form-group col-md-2">
            <label class=" control-label">Cancelled on</label>
          </div>
          <div class="form-group col-md-3">          
            {{view Volant.DateView dateBinding='cancelled' }}
          </div>
          <div class="form-group col-md-2">
            <button class="btn btn-success" type="button" {{action 'reactivate'}}>Reactivate</button>
          </div>
          <div class="form-group col-md-4">
            <p class='text-muted'>{{state.info}}</p>
          </div>
        </div>
      {{/if }}

      {{partial 'volunteer_fields'}}

      <fieldset id='payment-fields'>
        <legend>Payment</legend>
        <div class='row'>
          {{#if payment }}
          {{else}}
          <div class="form-group col-md-4">
            <label class=" control-label">Fee</label>
            <div class="input-group">
              {{input value=fee class="form-control" type='number'}}
              <span class="input-group-btn">
                <button class="btn btn-default" type="button" {{action 'create_payment'}}>Pay</button>
              </span>
            </div>
          </div>
          {{/if}}
        </div>
        {{# if payment }}
          {{render 'payment' payment }}
        {{/if}}
      </fieldset>

      <fieldset>
        <legend>Application Details</legend>
        <div class='row'>
          <div class="form-group col-md-12">
            {{#model-field errors=errors.motivation}}
            <label class=" control-label">Motivation</label>
            {{textarea value=motivation class="form-control"}}
            {{/model-field}}
          </div>

          <div class="form-group col-md-12">
            <label class=" control-label">General Remarks</label>
            {{textarea value=general_remarks class="form-control" rows='2'}}
          </div>
        </div>
      </fieldset>
      {{hidden-save-button}}
    </form>
</div>

<div class="col-md-5">
  <h3>Workcamps ({{workcamps.length}})</h3>
 {{#if isNew }}
   {{#if workcampToAssign}}
     {{partial 'apply_form/workcamp_to_assign'}}
   {{/if}}
 {{else}}
    {{view Barbecue.BsTabsView currentTab='assigned' tabs='Assigned,Starred,Search' viewPrefix='apply_form/tabs/'}}
 {{/if}}
</div>
</div>

</div>
<div >

{{outlet modal}}