{{outlet}}

<form class="form form-horizontal search-form" role="form" {{action 'search' on="submit"}}>
  <div class='row'>
    <div class='col-lg-1'>
      <label class="col-lg-1 control-label">Keyword</label>
    </div>
    <div class='col-lg-9'>
      <div class="input-group">
        {{ input value=query class="form-control" placeholder="Search by name, birth number, payment account or keyword..." }}
        <span class="input-group-btn">
          <button class="btn btn-default reset" type="button" {{action 'reset'}}>
            {{fa 'times'}}
          </button>
          <button class="btn btn-primary" type="submit">Search</button>
        </span>
      </div>
    </div>
    <div class='col-lg-2 text-right'>
      {{#link-to 'workcamps.new' class='btn btn-success'}}
        {{fa 'plus'}} Create
      {{/link-to}}
    </div>
  </div>
</form>

<hr/>

<table class="table table-striped table-hover">
  <thead>
    <th></th>
    <th>Submitted</th>
    <th>Name</th>
    <th colspan='3'>Workcamp</th>
    <th>Email</th>
    <th>Birth number</th>
    <th>Payment</th>
  </thead>
  <tbody>
    {{#each itemController='apply_form'}}
      <tr>
        <td>
          <i {{ bind-attr class=":fa starred:fa-star:fa-star-o" }} {{ action 'toggle_starred' bubbles=false}}></i>
        </td>
        <td>{{long-date created_at}}</td>
        <td>
          {{#link-to 'apply_form' this}}
            {{gender volunteer}}
            {{name}}
            ({{volunteer.age}})
          {{/link-to}}
        </td>
        <td>
          {{#if message}}
            {{fa 'send-o'}}
          {{else}}
            {{ apply-form-state-icon state}}
          {{/if}}
        </td>
        <td>
          {{ partial 'action_buttons' }}
        </td>
        <td>
          {{#link-to 'workcamp' current_workcamp}}{{current_workcamp.name}}{{/link-to}}
        </td>
        <td>{{ mail-to volunteer.email }}</td>
        <td>{{volunteer.birthnumber}}</td>
        <td>{{payment.amount}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{ render 'pagination'  }}
