<div class='row'>
<table class="table table-striped table-hover">
  <thead>
    <th></th>
    <th>Submitted</th>
    <th>Name</th>
    <th colspan='3'>Workcamp</th>
    <th>Email</th>
    <th>Birth number</th>
    <th>Payment</th>
  </thead>
  <tbody>
    {{#each itemController='apply_form'}}
      <tr>
        <td>
          <i {{ bind-attr class=":fa starred:fa-star:fa-star-o" }} {{ action 'toggle_starred' bubbles=false}}></i>
        </td>
        <td>{{long-date created_at}}</td>
        <td>
          {{gender volunteer}}
          {{name}}
          ({{volunteer.age}})
        </td>
        <td>{{ apply-form-state-icon state}}</td>
        <td>
          {{#if state.actions.firstObject }}
          <div class="btn-group">
            <button {{action state.actions.firstObject bubbles=false}} type="button" class="btn btn-default btn-sm">
              {{capitalize state.actions.firstObject}}
            </button>
            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu">
              {{#each state.actions}}
                <li><a {{action this bubbles=false}} href="#"> {{ apply-form-action-icon this }} {{capitalize this}}</a></li>
              {{/each}}
            </ul>
          </div>
          {{/if}}
        </td>
        <td>
          {{#link-to 'workcamp' current_workcamp}}{{current_workcamp.name}}{{/link-to}}
        </td>
        <td>{{ mail-to volunteer.email }}</td>
        <td>{{volunteer.birthnumber}}</td>
        <td>{{payment.amount}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>

{{ render 'pagination'  }}