<h1>Country</h1>

{{errors.messages}}


  {{#model-field errors=errors.#<Rails::Generators::GeneratedAttribute:0x00000006912b60>}}
    <label class=" control-label">#<Rails::Generators::GeneratedAttribute:0x00000006912b60></label>
    {{input value=#<Rails::Generators::GeneratedAttribute:0x00000006912b60> class="form-control" }}
  {{/model-field}}

  {{#model-field errors=errors.#<Rails::Generators::GeneratedAttribute:0x00000006912a20>}}
    <label class=" control-label">#<Rails::Generators::GeneratedAttribute:0x00000006912a20></label>
    {{input value=#<Rails::Generators::GeneratedAttribute:0x00000006912a20> class="form-control" }}
  {{/model-field}}

  {{#model-field errors=errors.#<Rails::Generators::GeneratedAttribute:0x000000069128e0>}}
    <label class=" control-label">#<Rails::Generators::GeneratedAttribute:0x000000069128e0></label>
    {{input value=#<Rails::Generators::GeneratedAttribute:0x000000069128e0> class="form-control" }}
  {{/model-field}}



{{outlet}}
