<h3>Email Templates</h3>
<table class="table table-striped table-hover">
  <thead>
    <th>Name</th>
    <th>Title</th>
    <th class='text-right'>{{#link-to 'email_templates.new'}}{{fa 'plus'}}{{/link-to}}</th>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>
          {{#link-to 'email_template' this}}
            {{title}}
          {{/link-to}}
        </td>
        <td>
          {{action_name}}
        </td>
        <td>{{subject}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>

{{outlet}}
