<h3>Email Template for {{action_name}}</h3>

<form class="form" role="form" {{action 'save' on="submit"}}>
  <div class="form-group">
    <label class=" control-label">Action</label>
    {{input value=action class="form-control"}}
  </div>

  <div class="form-group">
    <label class=" control-label">Description</label>
    {{input value=description class="form-control"}}
  </div>

  <div class="form-group">
    <label class=" control-label">Subject</label>
    {{input value=subject class="form-control"}}
  </div>

  <div class="form-group">
    <label class=" control-label">Body</label>
    {{textarea value=body class="form-control" rows=30}}
  </div>


  {{#unless isNew}}
    {{ button 'Delete' 'remove' 'btn btn-danger pull-right' }}
  {{/unless}}

  <button type="submit" class="btn btn-primary">Save</button>

  {{ button 'Cancel' 'rollback' 'btn' }}

</form>
