  <div class="col-lg-4">
    <h3>{{ fa 'calendar'}} Volunteers &amp; Applications</h3>

    <table class='table dashboard'>
      <tbody>
        <tr>
          <td>2</td>
          <td>{{#link-to 'apply_forms' }}are currently on a project{{/link-to}}</td>
        </tr>

        <tr>
          <td>4</td>
          <td>{{#link-to 'apply_forms' }}leave this week{{/link-to}}</td>
        </tr>

        <tr>
          <td>1</td>
          <td>{{#link-to 'apply_forms' }}return this week{{/link-to}}</td>
        </tr>

        <tr>
          <td>3</td>
          <td>{{#link-to 'apply_forms' }}new applications today{{/link-to}}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="col-lg-3">
    <h3>Applications</h3>
    <table class="table table-hover starred">
      <tbody>
        {{#each starred_apply_forms}}
        <tr>
          <td>{{partial 'star'}} {{gender volunteer}}</td>
          <td>
            {{#link-to 'apply_form' this}}
              {{name}}
            {{/link-to}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="col-lg-5">
    <h3>Workcamps</h3>

    <table class="table table-hover starred">
      <tbody>
        {{#each starred_workcamps itemController='littleWorkcamp'}}
        <tr>
          <td>{{partial 'star'}} {{small-flag country}}</td>
          <td>
            {{#link-to 'workcamp' this}}
              {{name}}
            {{/link-to}}
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
