<h1>
  Message
  <small>
  {{#if subject}}
    '{{subject}}'
  {{else}}
    [no subject]
  {{/if}}
  </small>
</h1>

{{#if errors.firstObject}}
  <div class="alert alert-danger" role="alert">{{join-errors errors}}</div>
{{/if}}


<form class="form-horizontal" role="form" {{action 'save' on="submit"}}>
  <fieldset>
    <div class="form-group" >
      <label class="col-md-1 control-label">From</label>
      <div class="col-md-5">
        {{input-or-static attr=from readonly=delivered}}
      </div>

      <label class="col-md-1 control-label">Action</label>
      <div class="col-md-5">
        <p class="form-control-static">
          {{action_name}}
        </p>
      </div>
    </div>

    <div class="form-group" >
      <label class="col-md-1 control-label">To</label>
      <div class="col-md-5">
        {{input-or-static attr=to readonly=delivered}}
      </div>

      {{#unless delivered}}
        <label class="col-md-1 control-label">Template</label>
        <div class="col-md-4">
          {{view Ember.Select
          contentBinding='controllers.email_templates.content'
          optionLabelPath="content.title"
          selectionBinding="selectedTemplate"
          class="form-control" }}
        </div>
        <div class="col-md-1">
          <a href='#' type="button" class="btn btn-default" {{action 'useSelectedTemplate'}} title='Use selected template'>
            {{fa 'refresh'}}
            Use
          </a>
        </div>
      {{/unless}}
    </div>

    <div class="form-group" >
      <label class="col-md-1 control-label">Cc</label>
      <div class="col-md-5">
        {{input-or-static attr=cc readonly=delivered}}
      </div>

      <label class="col-md-1 control-label">Application</label>
      <div class="col-md-5">
        <p class="form-control-static">
          {{#link-to 'apply_form' apply_form}}
          {{apply_form.name}}
          {{/link-to}}
        </p>
      </div>
    </div>

    <div class="form-group" >
      <label class="col-md-1 control-label">Bcc</label>
      <div class="col-md-5">
        {{input-or-static attr=bcc readonly=delivered}}
      </div>

      <label class="col-md-1 control-label">Workcamp</label>
      <div class="col-md-5">
        <p class="form-control-static">
          {{#link-to 'workcamp' apply_form.current_workcamp}}
          {{apply_form.current_workcamp.name}}
          {{/link-to}}
        </p>
      </div>
    </div>

    <div class="form-group" >
      <label class="col-md-1 control-label">Subject</label>
      <div class="col-md-5">
        {{input-or-static attr=subject readonly=delivered}}
      </div>

      <label class="col-md-1 control-label">Organization</label>
      <div class="col-md-5">
        <p class="form-control-static">
          {{#link-to 'organization' apply_form.current_workcamp.organization}}
          {{apply_form.current_workcamp.organization.name}}
          {{/link-to}}
        </p>
      </div>

      <div class="col-md-6">
      </div>
    </div>

    <div class="form-group" >
      <label class="col-md-1 control-label">Attachments</label>
      <div class="col-md-5">
        <p class="form-control-static">
          {{#if delivered}}
            {{#each attachments}}
              <a {{bind-attr href=url}}>{{filename}}</a>,
            {{/each}}
          {{else}}
            {{view 'labels-list' contentBinding='attachments' removeAction='destroyAttachment'}}

            {{#if isNew}}
              <button type="submit" class="btn btn-default">
                Save & Add Attachment
              </button>
            {{else}}              
              <a href='#' class='btn btn-default' title='Attach Files' {{action 'showUploadDialog'}} >
                {{fa 'paperclip'}} Add
              </a>
            {{/if}}
          {{/if}}
        </p>
      </div>

      <label class="col-md-1 control-label">Sent at</label>
      <div class="col-md-5">
        <p class="form-control-static">
          {{format-date sentAt}}
        </p>
      </div>
    </div>
    
    <div class="form-group email-body-area" >
      <div class="col-md-11 col-md-offset-1">
        {{native-editor editable=editable value=html_body}}
      </div>
    </div>
  </fieldset>
</form>

</div>
