<h1>Message <small>'{{subject}}'</small></h1>

{{#if errors.firstObject}}
  <div class="alert alert-danger" role="alert">{{join-errors errors}}</div>
{{/if}}

<form class="form-horizontal" role="form" {{action 'save' on="submit"}}>
  <fieldset>
    <div class="form-group" >
      <label class="col-lg-1 control-label">From</label>
      <div class="col-lg-5">
        {{input-or-static attr=from readonly=delivered}}
      </div>

      <label class="col-lg-1 control-label">Action</label>
      <div class="col-lg-5">
        <p class="form-control-static">
          {{action_name}}
        </p>
      </div>
    </div>

    <div class="form-group" >
      <label class="col-lg-1 control-label">To</label>
      <div class="col-lg-5">
        {{input-or-static attr=to readonly=delivered}}
      </div>

      {{#unless delivered}}
      <label class="col-lg-1 control-label">Template</label>
      <div class="col-lg-5">
          {{view Ember.Select
          contentBinding='controllers.email_templates.content'
          optionLabelPath="content.action_name"
          selectionBinding="emailTemplate"
          class="form-control" }}
      </div>
      {{/unless}}
    </div>



    <div class="form-group" >
      <label class="col-lg-1 control-label">Cc</label>
      <div class="col-lg-5">
        {{input-or-static attr=cc readonly=delivered}}
      </div>

      <label class="col-lg-1 control-label">Application</label>
      <div class="col-lg-5">
        <p class="form-control-static">
          {{#link-to 'apply_form' apply_form}}
            {{apply_form.name}}
          {{/link-to}}
        </p>
      </div>
    </div>

    <div class="form-group" >
      <label class="col-lg-1 control-label">Bcc</label>
      <div class="col-lg-5">
        {{input-or-static attr=bcc readonly=delivered}}
      </div>

      <label class="col-lg-1 control-label">Workcamp</label>
      <div class="col-lg-5">
        <p class="form-control-static">
          {{#link-to 'workcamp' apply_form.current_workcamp}}
            {{apply_form.current_workcamp.name}}
          {{/link-to}}
        </p>
      </div>
    </div>

    <div class="form-group" >
      <label class="col-lg-1 control-label">Subject</label>
      <div class="col-lg-5">
        {{input-or-static attr=subject readonly=delivered}}
      </div>

      <label class="col-lg-1 control-label">Organization</label>
      <div class="col-lg-5">
        <p class="form-control-static">
          {{#link-to 'organization' apply_form.current_workcamp.organization}}
            {{apply_form.current_workcamp.organization.name}}
          {{/link-to}}
        </p>
      </div>

      <div class="col-lg-6">
      </div>
    </div>

    {{#if delivered}}
      <div class="form-group" >
        <label class="col-lg-1 control-label">Sent at</label>
        <div class="col-lg-10">
          <p class="form-control-static">
            {{format-date sent_at}}
          </p>
        </div>
      </div>
    {{/if}}

    <div class="form-group email-body-area" >
      <div class="col-lg-11 col-lg-offset-1">
        {{native-editor editable=editable value=html_body}}
      </div>
    </div>
  </fieldset>

  {{#unless delivered}}
  <button type="submit" class="btn btn-default">
    Save & Close
  </button>
  <button type="button" class="btn btn-primary" {{action 'send_message' }}>
    {{fa 'send-o'}}
    Send
  </button>
  {{/unless}}

  {{button 'Delete' 'remove' 'btn-danger pull-right' }}
</form>
</div>
