{{partial 'query'}}

<table class="table table-striped table-hover">
  <thead>
    <th>Country</th>
    <th>Name</th>
    <th>Emails</th>
    <th>Partners</th>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>
          {{small-flag country}}
          {{country.name}}
        </td>
        <td>
          {{#link-to 'organization' this}}
            {{name}}
          {{/link-to}}
        </td>
        <td>{{# each email_contacts}}
            {{address}},
          {{/each}}
        </td>
        <td>
          {{# each email_contacts}}
            {{address}},
          {{/each}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{ render 'pagination' }}
