{{errors.messages}}

<div class='row'>
  <div class="form-group col-lg-3">
    {{#if apply_form}}
      <label class=" control-label">Fee</label>
      {{input type='number' value=apply_form.fee class='form-control'}}
    {{else}}
      <p class='static-text'>No application assigned.</p>
    {{/if}}
  </div>

  <div class="form-group col-lg-3">
    {{#model-field errors=errors.amount}}
    <label class=" control-label">Received Amount</label>
    {{input value=amount class="form-control" type='number'}}
    {{/model-field}}
  </div>

  <div class="form-group col-lg-3">
    <label class=" control-label">Received Date</label>
    {{view Volant.DateView dateBinding='received' }}
  </div>

  <div class="form-group col-lg-3">
    <label class=" control-label">Mean</label>
     {{view Ember.Select
            value=mean
            content=means
            optionValuePath="content.id"
            optionLabelPath="content.label"
            class="form-control" }}
  </div>
</div>

{{#if return_visible }}
  <div class='row'>
    <div class="form-group col-lg-3">
      {{#model-field errors=errors.returned_amount}}
      <label class=" control-label">Returned amount</label>
      {{input value=returned_amount class="form-control" type='number'}}
      {{/model-field}}
    </div>

    <div class="form-group col-lg-3">
      {{#model-field errors=errors.returned_date}}
      <label class=" control-label">Returned date</label>
      {{view Volant.DateView dateBinding='returned_date' }}
      {{/model-field}}
    </div>

    <div class="form-group col-lg-6">
      {{#model-field errors=errors.return_reason}}
      <label class=" control-label">Return reason</label>
      {{input value=return_reason class="form-control" }}
      {{/model-field}}
    </div>
  </div>
{{/if}}

{{#if by_bank}}
<div class='row'>
  <div class="form-group col-lg-3">
    <label class=" control-label">Account</label>
    {{input value=account class="form-control" }}
  </div>

  <div class="form-group col-lg-3">
    <label class=" control-label">Bank code</label>
    {{input value=bank_code class="form-control" }}
  </div>

  <div class="form-group col-lg-2">
    <label class=" control-label">Variable sym.</label>
    {{input value=var_symbol class="form-control" }}
  </div>

  <div class="form-group col-lg-2">
    <label class=" control-label">Specific sym.</label>
    {{input value=spec_symbol class="form-control" }}
  </div>

  <div class="form-group col-lg-2">
    <label class=" control-label">Constant sym.</label>
    {{input value=const_symbol class="form-control" }}
  </div>
</div>
{{/if}}

<div class='row'>
  <div class="form-group col-lg-6">
    <p>
    {{#unless return_visible }}
    <a title='Show return fields' class='btn'
      {{ action 'force_show_return' }} >
      {{ fa 'undo' }} Show return fields
    </a>
    {{/unless}}
  </p>
  </div>
</div>
