<table class="table table-condensed table-hover col-lg-12 sidepanel">
  <tbody>
    {{#each itemController='workcamp_inside_apply_form'}}
    <tr>
      <td>
        {{#if isAssigned}}
          <span title="This workcamp is already in the form.">{{fa 'check'}}</span>
        {{else}}
          <a href="" {{action 'addWorkcamp' this this bubbles=false}} title="Add workcamp to the form." class='btn btn-default btn-sm'>
            {{fa 'plus'}}
          </a>
        {{/if}}
      </td>
      <td>
        {{partial 'star'}}
      </td>
      <td>
        {{code}}
      </td>
      <td>
      </td>
      <td>
        {{#link-to 'workcamp' this}}{{name}}{{/link-to}}
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
