<h3>Tag</h3>

{{errors.messages}}

<form {{ action 'save' on='submit'}}>
    <div class="form-group">
    {{#model-field errors=errors.name}}
      <label class=" control-label">Name</label>
      {{input value=name class="form-control" }}
    {{/model-field}}
  </div>
    <div class="form-group">
    {{#model-field errors=errors.color}}
      <label class=" control-label">Color</label>
      {{input value=color class="form-control" }}
    {{/model-field}}
  </div>
    <div class="form-group">
    {{#model-field errors=errors.text_color}}
      <label class=" control-label">Text color</label>
      {{input value=text_color class="form-control" }}
    {{/model-field}}
  </div>
  
  <button type="submit" class="btn btn-primary">Save</button>

  {{ button 'Cancel' 'rollback' 'btn' }}

  {{#unless isNew}}
    {{ button 'Delete' 'remove' 'btn btn-danger' }}
  {{/unless}}
</form>