<form {{action 'search' on='submit'}}>
  <div class='col-md-1'>
    <label class='control-label'>
      Search
    </label>
  </div>
  <div class='col-md-9'>
    {{partial 'query'}}    
  </div>
</form>

<table class="table table-striped table-hover">
  <thead>
    <th></th>
    <th>Name</th>
    <th>Birthnumber</th>
    <th>Age</th>
    <th>Email</th>
    <th>Phone</th>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td></td>
        <td>
          {{#link-to 'volunteer' this}}
            {{name}}
          {{/link-to}}
        </td>
        <td>{{birthnumber}}</td>
        <td>{{age}}</td>
        <td>{{mail-to email}}</td>
        <td>{{phone}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{ render 'pagination' }}
