<div class='row'>
  <div class="col-md-8">
    <h3>{{gender-sign gender}} {{name}}</h3>
    <form class="form" role="form" {{action 'save' on="submit"}}>
      {{partial 'volunteer_fields'}}
      {{button 'Save' 'save' 'btn-primary' }}
      {{button 'Cancel' 'rollback' 'btn-default' }}
    </form>
  </div>
  <div class="col-md-4">
  </div>
</div>
