<h1>{{name}}</h1>

<form class="pure-form pure-form-aligned">
    <fieldset>
      {{view "field" attr='name'}}
      {{view "field" attr='code'}}
      {{view "date" attr='begin' }}
      {{view "date" attr='end' }}
    </fieldset>
</form>