<form class="form-horizontal form-search" role="form" {{action 'search' on="submit"}}>
  <div class='form-group'>
    <div class='col-lg-1'>
      <label class="col-lg-1 control-label">Keyword</label>
    </div>
    <div class='col-lg-8'>
      {{partial 'query'}}
    </div>

    <div class='col-lg-3 pull-right'>
      {{#if isDirty}}
      <button class="btn btn-danger" type="button" {{action 'save'}}>
        Save
      </button>
      {{/if}}

      <button class="btn btn-default" type="button" {{action 'toggle' 'editing_visible'}}>
        {{ fa 'pencil-square-o' }}
      </button>

      <button class="btn btn-default" type="button" {{action 'toggle' 'filter_visible'}}>
        {{ fa 'filter' }} Filter
      </button>

      <div class="btn-group">
        {{#link-to 'workcamps.new' class='btn btn-success'}}
          Create
        {{/link-to}}
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>{{#link-to 'imported_workcamps' }}Import{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </div>

  {{#if filter_visible }}
    {{ partial 'workcamps/filter' }}
  {{/if}}
</form>

{{partial 'workcamps/list'}}