<form {{ action 'search_workcamp' on=submit }} class="pure-form" >
  <fieldset>
    {{ input value=query class="pure-input-2-3" }}
     <button type="submit" class="pure-button pure-button-primary">Search</button>
  </fieldset>
</form>

<em>Found {{pagination.total}} workcamps in {{pagination.total_pages}} pages. Displaying page {{pagination.current_page}}.</em>

<hr>


{{!-- TODO: transform into helpers  --}}
<form class="pure-form" >
  <a {{bind-attr class=":pure-button previous_page_exists::pure-button-disabled"}} href="#" {{action "adjust_page" -1}}>&lt;</a>
  {{input value=current_page }}
  <a {{bind-attr class=":pure-button next_page_exists::pure-button-disabled"}} href="#" {{action "adjust_page" 1}}>&gt;</a>
</form>



<table class="pure-table">
  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Code</th>
      <th>From</th>
      <th>To</th>
      <th>Country</th>
      <th>Organization</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each}}
      <tr>
        <td>{{flag country}}</td>
        <td>{{country.name}}</td>
        <td>{{name}}</td>
        <td>{{code}}</td>
        <td>{{format-date begin}}</td>
        <td>{{format-date end}}</td>
        <td>{{organization.name}}</td>
        <td class="actions">
          {{#link-to 'workcamp' this class="pure-button"}}
          Detail
          {{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
