<table class="table table-condensed table-hover col-md-12 sidepanel">
  <tbody>
    {{#each itemController="workcamp_assignment" }}
    {{# if edited_or_new}}
      <tr>
        <td colspan='7'>
          <h5>{{workcamp.name}}</h5>
          <form class='form'>
            <div class="form-group">
              <label>Order</label>
              {{ input value=order type='number' class="form-control" }}
            </div>

            <div class="form-group">
              <label>Asked</label>
              {{view Volant.DateView dateBinding='asked' }}
            </div>

            <div class="form-group">
              <label>Accepted</label>
              {{view Volant.DateView dateBinding='accepted' }}
            </div>

            <div class="form-group">
              <label>Rejected</label>
              {{view Volant.DateView dateBinding='rejected' }}
            </div>

            <div class="form-group">
              <label>Infosheet sent</label>
              {{view Volant.DateView dateBinding='infosheeted' }}
            </div>

            <div class="form-group">
              {{! TODO - font awesome 'check'/'times' }}
              {{ button 'Save' 'save' 'btn-success' }}
              {{ button 'Cancel' 'rollback' 'btn' }}
            </div>
          </form>
        </td>
      </tr>
    {{else}}
      <tr {{bind-attr class=":workcamp_assignment status"}}>
        <td>
          <a href='#' {{action 'removeAssignment' this bubbles=false}}
              class='btn btn-default btn-sm'>
            {{fa 'minus'}}
          </a>
        </td>
        <td>
          {{#if isCurrentWorkcamp}}
            {{fa 'circle'}}
          {{/if}}
        </td>
        <td>{{order}}.</td>
        <td>
          {{view 'placement-info'}}
        </td>
        <td>{{workcamp-state-icon state}}</td>
        <td>{{workcamp.code}}</td>
        <td>
          {{format-date workcamp.from}}
          <br/>
          {{format-date workcamp.to}}
        </td>
        <td>
          {{#link-to 'workcamp' workcamp class=status}}
            {{workcamp.name}}
          {{/link-to}}
          <br/>
          {{tag-list workcamp.tags}}
        </td>
        <td >
          <a href='#' {{action 'edit' bubbles=false}}>
            {{fa 'edit'}}
          </a>
        </td>

      </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>
