<h1>
  <small>Workcamp</small>
  {{code}} - {{name}}
</h1>

<form class="form-horizontal" role="form" {{action 'save' on="submit"}}>

  <div {{ bind-attr class=":form-group errors.name:has-error" }}>
    <label {{bind-attr for="name" }}
           {{bind-attr class=":col-lg-1 :control-label" }}>
           Name
    </label>
    <div  {{bind-attr class=":col-lg-10" }}">
      {{input value=name type=text id="name" class="form-control"}}
    </div>
    <div {{ bind-attr class=":help-block :text-danger :col-lg-10 :col-lg-offset-1 errors.name::hide" }}>
      {{#each errors.name }}
        {{ message }},
      {{/each}}
    </div>
  </div>

  {{! view "text" label='Name' model=name }}
  {{view "text" label='code' model=code }}
  {{view "date" label='From' model=begin }}
  {{view "date" label='To' model=end }}
  {{view "textarea" label='description' model=description }}

 <div class="form-group">
    <div class="col-lg-offset-1 col-lg-10">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>

</form>
