{{#if current_item}}
  {{ partial 'workcamps/brief' }}
{{else}}
<div class="row">
  {{ partial 'workcamps/full' }}

  <em>Found {{pagination.total}} workcamps in
  {{pagination.total_pages}} pages. Displaying page
  {{pagination.current_page}}.</em>

  {{ partial 'pager' }}
  </div>
{{/if}}

{{outlet}}