<form class="form-horizontal form-search" role="form" {{action 'search' on="submit"}}>
  <div class='form-group'>
    <div class='col-lg-1'>
      <label class="col-lg-1 control-label">Keyword</label>
    </div>
    <div class='col-lg-8'>
      <div class="input-group">
        {{ input value=query class="form-control" placeholder="part of workcamp's name or code" }}
        <span class="input-group-btn">
          <button class="btn btn-default reset" type="button" {{action 'reset'}}>
            {{fa 'times'}}
          </button>
          <button class="btn btn-primary" type="submit">Search</button>
        </span>
      </div>
    </div>

    <div class='col-lg-3 text-right'>
      <button class="btn btn-default" type="button" {{action 'toggle' 'editing_visible'}}>
        {{ fa 'pencil-square-o' }}
      </button>

      <button class="btn btn-default" type="button" {{action 'toggle' 'filter_visible'}}>
        {{ fa 'filter' }} Filter
      </button>
      {{#link-to 'workcamps.new' class='btn btn-success'}}
        {{fa 'plus'}} Create
      {{/link-to}}
    </div>
  </div>

  {{#if filter_visible }}
    {{ partial 'workcamps/filter' }}
  {{/if}}
</form>

  <div class="row">
    <div class="col-lg-12">

      <div class="list-group">
             {{#each itemController='littleWorkcamp'}}
               <div href="#" class="list-group-item">
                 <div class="row">
                   <div class="col-lg-1">
                     <div>
                       <i {{ bind-attr class=":fa starred:fa-star:fa-star-o" }} {{ action 'toggle_starred' bubbles=false }}></i>
                       {{small-flag country}}
                     </div>
                     <small>{{country.name}}</small>
                   </div>
                   <div class="col-lg-2">
                     <h4>{{ free-places this }}</h4>
                   </div>

                   <div class="col-lg-6">
                     <h4 class="list-group-item-heading">
                     {{#link-to 'workcamp' this}}{{name}}{{/link-to}}

                       <small>
                         {{duration}} days
                       </small>
                     </h4>
                     <p class="list-group-item-text">
                       {{#link-to 'organization' organization}}{{code}}{{/link-to}},
                       {{age-range this }},
                       {{#each workcamp_intentions}} {{ code }}, {{/each}}
                     </p>
                   </div>
                   <div class="col-lg-3 text-right">
                     <h5 class="list-group-item-heading ">{{dates this}}</h5>
                     <p class="list-group-item-text">
                     {{#each tags}}
                       {{ tag this }}
                     {{/each}}
                     </p>
                   </div>
                 </div>

                 {{partial 'free_places_editor'}}

               </div>
             {{/each}}
      </div>
    </div>
  </div>

{{ render 'pagination' }}
