<div class="row">
 {{ partial 'workcamps/filter' }}
</div>

  <div class="row">
    <div class="col-lg-2">
      <ul class='pager'>
      <li {{bind-attr class=":previous
        previous_page_exists::disabled"}}>
        <a href="#" {{action "adjust_page" -1}}>&larr;</a>
      </li>
      </ul>
    </div>
    <div class="col-lg-8">
      <p>
        <em>Found {{pagination.total}} workcamps in
        {{pagination.total_pages}} pages. Displaying page
        {{pagination.current_page}}.</em>
        </p>
    </div>
    <div class="col-lg-2">
      <ul class='pager'>
      <li {{bind-attr class=":next next_page_exists::disabled"}}>
        <a href="#" {{action "adjust_page" 1}}>&rarr;</a>
      </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">

      <div class="list-group">
             {{#each}}
               <div href="#" class="list-group-item" {{action 'go_to_detail' this}}>
                 <div class="row">
                   <div class="col-lg-1">
                     {{flag country}}
                   </div>
                   <div class="col-lg-1">
                     <h4>{{ free-places this }}</h4>
                   </div>
                   <div class="col-lg-10">
                     <h4 class="list-group-item-heading">
                       {{name}}
                       <small>
                         {{duration}} days,
                         <b>{{format-date begin}} - {{format-date end}}</b>,
                       </small>
                       <span class="pull-right">
                        {{#each tags}}
                          {{ tag this }}
                        {{/each}}
                       </span>
                     </h4>
                     <p class="list-group-item-text">
                       {{country.name}},
                       {{#link-to 'organization' organization}}{{code}}{{/link-to}},
                       {{age-range this }},
                       {{#each workcamp_intentions}} {{ code }}, {{/each}}
                     </p>
                   </div>
                 </div>
               </div>
             {{/each}}
      </div>
    </div>
  </div>
