{{#if current_item}}
  <div class="row">
    <div class="col-lg-9">
      {{outlet}}
    </div>

  <div class="col-lg-3">
    {{#link-to 'workcamps'}}Back{{/link-to}}
    {{ partial 'workcamps/brief' }}
  </div>
  </div>
{{else}}
<div class="row">
  {{ partial 'workcamps/full' }}

  <em>Found {{pagination.total}} workcamps in
  {{pagination.total_pages}} pages. Displaying page
  {{pagination.current_page}}.</em>

  {{ partial 'pager' }}
  </div>
{{/if}}
