{{partial 'workcamp/import_controls'}}

<div class="row">
  <div class="col-md-7">
    <h2>
      {{partial 'star'}}
      {{#if country}}
        {{small-flag country}}
      {{/if}}
      {{#if code}}
        {{code}} &ndash;
      {{/if}}
      
      {{#if name}}
        {{name}}
      {{else}}
        <span class="text-muted">New Workcamp</span>
      {{/if}}
      <small>{{capitalize type}}
    </h2>
    <form class="form-horizontal" role="form" {{action 'save' on="submit"}}>
      <fieldset>
        <legend></legend>
        <div class="form-group" >
          {{#model-field errors=errors.code}}
            <label class="col-md-2 control-label">Code &amp; Name</label>
            <div class="col-md-3">
              {{ input value=code class='form-control' placeholder="Code"}}
            </div>
          {{/model-field}}
          
          {{#model-field errors=errors.name}}
            <div class="col-md-7" data-tooltip>
              {{input value=name class='form-control' placeholder="Name"}}
            </div>
          {{/model-field}}
        </div>

        <div class="form-group">
            <label class="col-md-2 control-label" title='Organization'>
              Country &amp; 
              {{#if organization}}
                {{#link-to 'organization' organization}}
                Org
                {{/link-to}}
              {{else}}
                Org
              {{/if}}
            </label>

          {{#model-field errors=errors.country}}
            <div class="col-md-3">
              {{partial 'inputs/country\'}}
            </div>
          {{/model-field}}

          {{#model-field errors=errors.organization}}
            <div class="col-md-7">
              {{partial 'inputs/organization'}}
            </div>
          {{/model-field}}
          
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">When</label>
          <div class="col-md-3">
            {{view Volant.DateView dateBinding='from' placeholder='From' }}
          </div>

          <div class="col-md-3">
            {{view Volant.DateView class="form-control" dateBinding='to' }}
          </div>

          <label class="col-md-1 control-label">Duration</label>
          <div class="col-md-3">
            {{input value=duration type="number" class="form-control" placeholder=computedDuration}}
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label" title="Age limit from - to">Age Limit</label>
          <div class="col-md-3">{{input value=minimal_age type="number" class="form-control"}}</div>
          <div class="col-md-3">{{input value=maximal_age type="number" class="form-control"}}</div>

          <label class="col-md-1 control-label">Publish</label>
          <div class="col-md-3">
            {{view Ember.Select
            value=publish_mode
            content=publish_modes
            optionValuePath="content.code"
            optionLabelPath="content.label"
            class="form-control"
            }}
          </div>
        </div>


        <div class="form-group">
          <label class="col-md-2 control-label">Labels</label>            
            <div class="col-md-3">
              {{partial 'inputs/workcamp_intentions'}}
            </div>

          <div class="col-md-3">
            {{partial 'inputs/tag_picker'}}
          </div>

          <label class="col-md-1 control-label">Languages</label>
          <div class="col-md-3">
            {{input value=language class="form-control" }}
          </div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label"></label>            
          {{view 'labels-list' contentBinding='workcamp_intentions' class="col-md-3"}}
          {{view 'labels-list' contentBinding='tags' class="col-md-7"}}          
        </div>
      </fieldset>

      <fieldset>
        <legend>Extra Fee</legend>
        <div class="form-group">
          <label class="col-md-2 control-label">Amount</label>
          <div class="col-md-3">{{input value=extraFee type="decimal" class="form-control" placeholder='0' type='number' step='0.01'}}</div>
          <label class="col-md-1 control-label">Currency</label>
          <div class="col-md-3">{{input value=extraFeeCurrency  class="form-control" placeholder=''}}</div>
        </div>          
      </fieldset>

      {{partial 'workcamp/placement'}}

      <fieldset>
        <legend>Details</legend>

        <div class="form-group">
          <label class="col-md-2 control-label">Description</label>
          <div class="col-md-10">{{textarea value=description class="form-control" rows="6" }}</div>
        </div>
        
        <div class="form-group">
          <label class="col-md-2 control-label">Work</label>
          <div class="col-md-10">{{textarea value=workdesc class="form-control" rows="3" }}</div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Location</label>
          <div class="col-md-10">{{textarea value=area class="form-control" rows="3"}}</div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Accomodation</label>
          <div class="col-md-10">{{textarea value=accomodation class="form-control" rows="3"}}</div>
        </div>

        <div class="form-group">
        <label class="col-md-2 control-label">Notes</label>
        <div class="col-md-10">{{textarea value=notes class="form-control" rows="3" }}</div>
      </div>

      <div class="form-group">
        <label class="col-md-2 control-label">Requirements</label>
        <div class="col-md-10">{{textarea value=requirements class="form-control" rows="3" }}</div>
      </div>
      </fieldset>

      <fieldset>
        <legend>Geographical Details</legend>

        <div class="form-group">
          <label class="col-md-2 control-label">Region</label>
          <div class="col-md-10">{{textarea value=region class="form-control" rows="3" }}</div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Train</label>
          <div class="col-md-4">{{input value=train type="text" class="form-control"}}</div>

          <label class="col-md-2 control-label">Latitude</label>
          <div class="col-md-4">{{input value=latitude type="decimal" class="form-control"}}</div>
        </div>

        <div class="form-group">
          <label class="col-md-2 control-label">Airport</label>
          <div class="col-md-4">{{input value=airport type="text" class="form-control"}}</div>

          <label class="col-md-2 control-label">Longitude</label>
          <div class="col-md-4">{{input value=longitude type="decimal" class="form-control"}}</div>
        </div>
      </fieldset>      
  </form>

  </div>
  <div class="col-md-5">
    <h3>Applications ({{applyForms.length}})</h3>
    {{view Barbecue.BsTabsView currentTab='assigned' tabs='Assigned,Starred,Search' viewPrefix='workcamp/tabs/'}}
  </div>
</div>
