<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= t('txt.page_title') %></title>
    <%= javascript_include_tag :defaults %>
    <%= active_scaffold_includes %>
    <%= stylesheet_link_tag 'bubbles' %>
    <%= stylesheet_link_tag 'active_scaffold_overrides' %>
    <%= stylesheet_links_for_controller %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'curvycorners.js' %>
    <%= stylesheet_link_tag 'admin_stripe' %>
    <%= stylesheet_link_tag 'menu' %>
    <%= stylesheet_link_tag 'tags' %>
    <%= stylesheet_link_tag 'states' %>

    <%= javascript_include_tag 'color_picker/js_color_picker_v2' %>
    <%= javascript_include_tag 'color_picker/color_functions' %>
    <%= stylesheet_link_tag 'color_picker/js_color_picker_v2' %>
  </head>
  <body id="body">
    <%= render :partial => 'shared/admin_stripe' %>
    <div id="contentwrapper">
      <div id="content">
        <%= yield %>
      </div>
    </div>

    <div id="sidebar">
      <% link_to root_path do %>
        <img class="header" src="/images/volant.png" alt="Volant - VOLunteering ANT"/>
      <% end %>
      <div id="menu">
        <ul>
          <% render :partial => 'shared/outgoing_menu' %>
          <%= render :partial => 'shared/incoming_menu' %>
         </ul>
      </div>
    </div>

    <%= render :partial => 'shared/footer' %>
  </body>
</html>
