<!DOCTYPE html>
<html>
<head>
  <title>Volant</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%# javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'volant' %>
  <%= stylesheet_link_tag  "http://yui.yahooapis.com/pure/0.5.0/pure-min.css" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
